In [12]:
import pandas as pd 
bengkel = pd.read_excel("bengkel.xlsx")
bengkel

     ID  Service  Price
0     1       58      7
1     2       54      1
2     3       98      2
3     4       52      4
4     5       11      4
..  ...      ...    ...
95   96       30      1
96   97       25      3
97   98       27     10
98   99        8      6
99  100       11      8

[100 rows x 3 columns]

In [13]:
#Fuzzification

id_code = bengkel['ID']
service = bengkel['Service']
price = bengkel['Price']

In [14]:
y = [] 

for x in range(100):
    service_score = [0,0,0,0]
    price_score = [0,0,0,0]
    bad = average = best = cheap = standard = expensive = 0
    
    
    #service
    
    if service[x] <= 30:
        bad = 1
        service_score[0] = bad 
        
    elif service[x] > 30 and service[x] < 40:
        bad = (40 - service[x]) / 10
        average = (service[x] - 30) / 10
        service_score[0] = bad
        service_score[1] = average
        
    elif service[x] >= 40 and service[x] <= 60:
        average = 1
        service_score[1] = average
        
    elif service[x] > 60 and service[x] < 70:
        average = (70 - service[x]) / 10
        best = (service[x] - 60)
        service_score[1] = average
        service_score[2] = best
        
    elif service[x] >= 70 and service[x] <= 100:
        best = 1
        service_score[2] = best
        
  #price

    if price[x] <= 2:
        cheap = 1
        price_score[0] = cheap
        
    elif price[x] > 2 and price[x] < 4:
        cheap = ((4 - price[x]) / 2)
        standard = ((price[x] - 2) / 2)
        price_score[0] = cheap
        price_score[1] = standard
    
    elif price[x] >= 4 and price[x] <= 6:
        standard = 1
        price_score[1] = standard 
    
    elif price[x] > 6 and price[x] < 8:
        standard = ((8 - price[x]) / 2)
        expensive = ((price[x] - 6) / 2)
        price_score[1] = standard
        price_score[2] = expensive 
    
    elif price[x] >= 8 and price[x] <= 10:
        expensive = 1
        price_score[2] = expensive
    
    #Inference

    #Not recommended 

    NotRec = []
    if service_score[0] == bad and price_score[0] == cheap:
        NotRec.append(min(service_score[0], price_score[0]))
    if service_score[0] == bad and price_score[1] == standard:
        NotRec.append(min(service_score[0], price_score[1]))
    if service_score[0] == bad and price_score[2] == expensive:
        NotRec.append(min(service_score[0], price_score[2]))
    if service_score[1] == average and price_score[2] == expensive:
        NotRec.append(min(service_score[1], price_score[2]))
    NotRec_score = max(NotRec)

    #Recommended

    Rec = []
    if service_score[1] == average and price_score[0] == cheap:
        Rec.append(min(service_score[1], price_score[0]))
    if service_score[1] == average and price_score[1] == standard:
        Rec.append(min(service_score[1], price_score[1]))
    if service_score[2] == best and price_score[2] == expensive:
        Rec.append(min(service_score[2], price_score[2]))
    Rec_score = max(Rec)
    
    #Very recommended
    
    VeryRec = []
    if service_score[2] == best and price_score[0] == cheap:
        VeryRec.append(min(service_score[2], price_score[0]))
    if service_score[2] == best and price_score[1] == standard:
        VeryRec.append(min(service_score[2], price_score[1]))
    VeryRec_score = max(VeryRec)
    
    
    divider = NotRec_score + Rec_score + VeryRec_score 
    if divider == 0:
        z = 0
    else: 
        z = ((NotRec_score*25) + (Rec_score*50) + (VeryRec_score*100))/divider
    print(id_code[x],z)
    y.append([id_code[x],z])

1 37.5
2 50.0
3 100.0
4 50.0
5 25.0
6 25.0
7 38.15789473684211
8 25.0
9 50.0
10 25.0
11 25.0
12 37.5
13 100.0
14 25.0
15 100.0
16 100.0
17 100.0
18 25.0
19 50.0
20 25.0
21 50.0
22 50.0
23 25.0
24 50.0
25 38.15789473684211
26 25.0
27 25.0
28 50.0
29 25.0
30 25.0
31 50.0
32 50.0
33 25.0
34 100.0
35 25.0
36 30.0
37 27.5
38 25.0
39 37.5
40 25.0
41 32.5
42 50.0
43 36.11111111111111
44 79.41176470588235
45 25.0
46 45.0
47 25.0
48 81.25
49 25.0
50 50.0
51 25.0
52 100.0
53 25.0
54 40.625
55 37.5
56 50.0
57 25.0
58 27.5
59 25.0
60 100.0
61 50.0
62 29.166666666666668
63 75.0
64 37.5
65 25.0
66 25.0
67 25.0
68 50.0
69 50.0
70 50.0
71 45.833333333333336
72 25.0
73 25.0
74 50.0
75 76.31578947368422
76 50.0
77 25.0
78 25.0
79 50.0
80 25.0
81 25.0
82 25.0
83 47.72727272727273
84 25.0
85 25.0
86 25.0
87 50.0
88 25.0
89 50.0
90 25.0
91 100.0
92 100.0
93 25.0
94 25.0
95 39.705882352941174
96 25.0
97 25.0
98 25.0
99 25.0
100 25.0

In [15]:
final_result = sorted(y, key = lambda x:x[1], reverse = True)
xlsx_output = {"Best auto Mechanics": final_result[:10]}

result_xlsx = pd.DataFrame(xlsx_output, columns = ["Best auto Mechanics"])
result_xlsx.to_excel("Ranking.xlsx")
print(xlsx_output)

{'Best auto Mechanics': [[3, 100.0], [13, 100.0], [15, 100.0], [16, 100.0], [17, 100.0], [34, 100.0], [52, 100.0], [60, 100.0], [91, 100.0], [92, 100.0]]}